*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
modules-dev/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
dist

website/vendor

testdata/*.crt
testdata/*.key
testdata/integration/*
testdata/plugins
testdata/terraform_*
!testdata/integration/main.tf
!testdata/integration/test.sh

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

terraform-provider-grafana
terraform-provider-grafana-generate

.vscode
vendor/
