[run]
timeout = "10m"

[linters-settings.goconst]
min-len = 5
min-occurrences = 5

[linters]
disable-all = true
enable = [
  "dogsled",
  "copyloopvar",
  "goconst",
  "gocritic",
  "gocyclo",
  "goimports",
  "goprintffuncname",
  "gosec",
  "gosimple",
  "govet",
  "ineffassign",
  "misspell",
  "nakedret",
  "rowserrcheck",
  "staticcheck",
  "stylecheck",
  "typecheck",
  "unconvert",
  "unused",
  "whitespace"
]

[[issues.exclude-rules]]
linters = ["stylecheck"]
path = "_test.go"
text = "ST1003: should not use underscores in Go names;"

[[issues.exclude-rules]]
linters = ["gocritic"]
text = "deprecatedComment: the proper format is `Deprecated: <text>`"

[[issues.exclude-rules]]
linters = ["gosec"]
text = "G402: TLS MinVersion too low."
