version: '3.8'

services:
  grafana-provider:
    image: golang:1.14
    environment:
      - GRAFANA_URL=http://grafana:3000
      - GRAFANA_AUTH=admin:admin
      - GRAFANA_ORG_ID=1
      - GOFLAGS=-mod=vendor
    depends_on:
    - grafana

  grafana:
    image: grafana/grafana:${GRAFANA_VERSION}

