services:
  mysql:
    ports:
      - "3306:3306"
    image: mysql:8.3
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-root}
      - MYSQL_DATABASE=${MYSQL_DATABASE:-grafana}
      - MYSQL_USER=${MYSQL_USER:-grafana}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-grafana}
    restart: no
    healthcheck:
      test: mysqladmin ping -h localhost
      interval: 10s
      retries: 10
      start_period: 10s
  grafana:
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "3000:3000"
    image: ${GRAFANA_IMAGE:-grafana/grafana}:${GRAFANA_VERSION}
    user: ${DOCKER_USER_UID:-}
    environment:
      - GF_DATABASE_TYPE=mysql
      - GF_DATABASE_HOST=mysql
      - GF_DATABASE_NAME=${MYSQL_DATABASE:-grafana}
      - GF_DATABASE_USER=${MYSQL_USER:-grafana}
      - GF_DATABASE_PASSWORD=${MYSQL_PASSWORD:-grafana}
      - GF_SERVER_ROOT_URL=${GRAFANA_URL}
      - GF_ENTERPRISE_LICENSE_TEXT=${GF_ENTERPRISE_LICENSE_TEXT:-}
      - GF_SERVER_SERVE_FROM_SUB_PATH=${GF_SERVER_SERVE_FROM_SUB_PATH:-}
      - GF_FEATURE_TOGGLES_ENABLE=nestedFolders,ssoSettingsApi,ssoSettingsSAML,ssoSettingsLDAP,grafanaManagedRecordingRulesDatasources
    healthcheck:
      test: curl -f http://0.0.0.0:3000/api/health || exit 1
      interval: 10s
      retries: 20
      start_period: 10s
    volumes:
      - ./testdata:/certs
  mtls-proxy:
    profiles:
      - "tls"
    depends_on:
      - grafana
    image: squareup/ghostunnel:v1.5.2
    command: |
      server
        --listen 0.0.0.0:3001
        --target grafana:3000
        --unsafe-target
        --key /certs/grafana.key
        --cert /certs/grafana.crt
        --cacert /certs/ca.crt
        --allow-cn client
    volumes:
      - ./testdata:/certs
    ports:
      - "3001:3001"
  nginx:
    profiles:
      - "proxy"
    depends_on:
      - grafana
    image: nginx:latest
    ports:
      - "3001:3001"
    volumes:
      - ./testdata/nginx.conf:/etc/nginx/nginx.conf
