version: '3'
services:
  grafana:
    ports:
      - 3000:3000
    image: ${GRAFANA_IMAGE:-grafana/grafana}:${GRAFANA_VERSION}
    environment:
      - GF_SERVER_ROOT_URL=http://127.0.0.1:3000${GRAFANA_SUBPATH:-}
      - GF_ENTERPRISE_LICENSE_TEXT=${GF_ENTERPRISE_LICENSE_TEXT:-}
      - GF_SERVER_SERVE_FROM_SUB_PATH=${GF_SERVER_SERVE_FROM_SUB_PATH:-}
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://127.0.0.1:3000${GRAFANA_SUBPATH:-}/api/health || exit 1 # Use wget because older versions of Grafana don't have curl
      interval: 10s
      retries: 10
      start_period: 10s
  mtls-proxy:
    profiles:
      - "tls"
    depends_on:
      - grafana
    image: squareup/ghostunnel:v1.5.2
    command: |
      server
        --listen 0.0.0.0:3001
        --target grafana:3000
        --unsafe-target
        --key /certs/grafana.key
        --cert /certs/grafana.crt
        --cacert /certs/ca.crt
        --allow-cn client
    volumes:
      - ./testdata:/certs
    ports:
      - 3001:3001
