version: '3'

services:

  grafana-provider:
    environment:
      - GRAFANA_URL=https://mtls-proxy:3001
      - GRAFANA_TLS_KEY=/go/src/github.com/grafana/terraform-provider-grafana/testdata/client.key
      - GRAFANA_TLS_CERT=/go/src/github.com/grafana/terraform-provider-grafana/testdata/client.crt
      - GRAFANA_CA_CERT=/go/src/github.com/grafana/terraform-provider-grafana/testdata/ca.crt
      - GRAFANA_VERSION
    ports:
      - 3000
    depends_on:
      - mtls-proxy

  mtls-proxy:
    image: squareup/ghostunnel:v1.5.2
    command: |
      server
        --listen 0.0.0.0:3001
        --target grafana:3000
        --unsafe-target
        --key /certs/grafana.key
        --cert /certs/grafana.crt
        --cacert /certs/ca.crt
        --allow-cn client
    volumes:
      - ./testdata:/certs
    ports:
      - 3001:3001
    networks:
      - grafana-provider-test
