version: '3'

networks:
  grafana-provider-test:
    driver: bridge

services:

  grafana-provider:
    image: golang:1.17
    environment:
      - GRAFANA_URL=http://grafana:3000
      - GRAFANA_AUTH=admin:admin
      - GRAFANA_ORG_ID=1
    working_dir: /go/src/github.com/grafana/terraform-provider-grafana
    volumes:
      - .:/go/src/github.com/grafana/terraform-provider-grafana
    depends_on:
      - grafana
    networks:
      - grafana-provider-test

  grafana:
    image: grafana/grafana:${GRAFANA_VERSION}
    networks:
      - grafana-provider-test
