# __generated__ by Terraform
# Please review these resources and move them into your main configuration files.

# __generated__ by Terraform from "{{ .ID }}"
resource "grafana_synthetic_monitoring_check" "{{ .Job }}" {
  alert_sensitivity  = "none"
  basic_metrics_only = true
  enabled            = false
  frequency          = 60000
  job                = "{{ .Job }}"
  labels = {
    foo = "bar"
  }
  probes  = [19]
  target  = "https://grafana.com"
  timeout = 3000
  settings {
    http {
      fail_if_not_ssl     = false
      fail_if_ssl         = false
      ip_version          = "V4"
      method              = "GET"
      no_follow_redirects = false
    }
  }
}
