package {{.PackageName}}

import (
	"context"

	{{.Version}} "{{.ImportPath}}"
	"github.com/grafana/terraform-provider-grafana/v4/internal/common"
	"github.com/hashicorp/terraform-plugin-framework/attr"
	"github.com/hashicorp/terraform-plugin-framework/diag"
	"github.com/hashicorp/terraform-plugin-framework/resource/schema"
	"github.com/hashicorp/terraform-plugin-framework/types"
	"github.com/hashicorp/terraform-plugin-framework/types/basetypes"
)

// {{.Name}} creates a new Grafana {{.KindName}} resource.
func {{.Name}}() NamedResource {
	return NewNamedResource[*{{.Version}}.{{.KindName}}, *{{.Version}}.{{.KindName}}List](
		common.CategoryGrafanaApps,
		ResourceConfig[*{{.Version}}.{{.KindName}}]{
			Kind: {{.Version}}.{{.KindName}}Kind(),
			Schema: ResourceSpecSchema{
				Description:         "Manages Grafana {{.PluralName}}.",
				MarkdownDescription: "Manages Grafana {{.PluralName}}.",
				SpecAttributes:      {{.Name}}SpecAttributes,
				OptionsAttributes:   map[string]schema.Attribute{},
			},
			SpecParser: func(ctx context.Context, src types.Object, dst *{{.Version}}.{{.KindName}}) diag.Diagnostics {
				var data {{.Name}}SpecModel
				if diag := src.As(ctx, &data, basetypes.ObjectAsOptions{
					UnhandledNullAsEmpty:    true,
					UnhandledUnknownAsEmpty: true,
				}); diag.HasError() {
					return diag
				}

				spec := {{.Version}}.{{.KindName}}Spec{
					// TODO: map data fields to spec fields.
				}
				if err := dst.SetSpec(spec); err != nil {
					return diag.Diagnostics{diag.NewErrorDiagnostic("failed to set spec", err.Error())}
				}
				return diag.Diagnostics{}
			},
			SpecSaver: func(ctx context.Context, src *{{.Version}}.{{.KindName}}, dst *ResourceModel) diag.Diagnostics {
				// TODO: map src.Spec fields to data fields.
				data := {{.Name}}SpecModel{}

				specObj, diags := types.ObjectValueFrom(ctx, map[string]attr.Type{
					// TODO: populate attr types matching {{.Name}}SpecAttributes.
				}, &data)
				if diags.HasError() {
					return diags
				}
				dst.Spec = specObj
				return diag.Diagnostics{}
			},
		},
	)
}
