import {
  to = grafana_oncall_escalation.{{ .EscalationID }}
  id = "{{ .EscalationID }}"
}

import {
  to = grafana_oncall_escalation_chain.{{ .Name }}
  id = "{{ .EscalationChainID }}"
}

import {
  to = grafana_oncall_integration.{{ .Name }}
  id = "{{ .IntegrationID }}"
}

import {
  to = grafana_oncall_schedule.{{ .Name }}
  id = "{{ .ScheduleID }}"
}
