name: acceptance tests
on:
  pull_request: {}
  push:
    branches:
      - main
      - master

# These permissions are needed to assume roles from Github's OIDC.
permissions:
  contents: read
  id-token: write

jobs:
  cloudinstance:
    concurrency: cloud-instance
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with: 
          go-version: '1.21'
      - uses: hashicorp/setup-terraform@v3
      - name: Get Secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@main
        with:
          repo_secrets: |
            GRAFANA_AUTH=cloud-instance-tests:auth
            GRAFANA_ONCALL_ACCESS_TOKEN=cloud-instance-tests:oncall-token
            GRAFANA_SM_ACCESS_TOKEN=cloud-instance-tests:sm-token
            GRAFANA_URL=cloud-instance-tests:url
      - uses: iFaxity/wait-on-action@v1.1.0
        with:
          resource: ${{ env.GRAFANA_URL }}
          interval: 2000 # 2s
          timeout: 30000 # 30s
      - run: make testacc-cloud-instance
  
  local:
    strategy:
      fail-fast: false # Let all versions run, even if one fails
      matrix:
          # OSS tests, run on all versions
        version: ['10.2.0', '10.1.5', '9.5.13', '8.5.27']
        with_enterprise_license: [false]
        with_tls_proxy: [false]
        with_subpath: [false]
        runner: ['ubuntu-latest-16-cores']
        include:
          # TLS proxy tests, run only on latest version
          - version: '10.2.0'
            with_tls_proxy: true
            runner: 'ubuntu-latest' # Smaller instance
          # Sub-path tests. Runs tests on localhost:3000/grafana/
          - version: '10.2.0'
            with_subpath: true
          # Enterprise tests, run only on latest version
          - version: '10.2.0'
            with_enterprise_license: true
            runner: 'ubuntu-latest' # Smaller instance
    name: ${{ matrix.version }}${{ matrix.with_enterprise_license && ' - Enterprise' || '' }}${{ matrix.with_tls_proxy && ' - TLS Proxy' || '' }}${{ matrix.with_subpath && ' - Subpath' || '' }}
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with: 
          go-version: '1.21'
      - uses: hashicorp/setup-terraform@v3
      - uses: KengoTODA/actions-setup-docker-compose@v1
        with:
          version: '2.23.0'
      - name: Get Enterprise License
        uses: grafana/shared-workflows/actions/get-vault-secrets@main
        if: matrix.with_enterprise_license
        with:
          repo_secrets: |
            GF_ENTERPRISE_LICENSE_TEXT=enterprise:license
      - run: make testacc-${{ matrix.with_enterprise_license && 'enterprise' || 'oss' }}-docker${{ matrix.with_tls_proxy && '-tls' || '' }}${{ matrix.with_subpath && '-subpath' || '' }}
        env:
          GRAFANA_VERSION: ${{ matrix.version }}
          TESTARGS: ${{ matrix.with_tls_proxy && '-run ".*_basic"' || '' }} # Run subset of tests for TLS proxy, it's slower
