name: acceptance tests
on:
  pull_request: {}
  push:
    branches:
      - main

# These permissions are needed to assume roles from Github's OIDC.
permissions:
  contents: read
  id-token: write

jobs:
  cloudinstance:
    concurrency: cloud-instance
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with: 
          go-version: '1.21'
      - uses: hashicorp/setup-terraform@v3
      - name: Get Secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@main
        with:
          repo_secrets: |
            GRAFANA_AUTH=cloud-instance-tests:auth
            GRAFANA_ONCALL_ACCESS_TOKEN=cloud-instance-tests:oncall-token
            GRAFANA_SM_ACCESS_TOKEN=cloud-instance-tests:sm-token
            GRAFANA_SM_URL=cloud-instance-tests:sm-url
            GRAFANA_URL=cloud-instance-tests:url
      - uses: iFaxity/wait-on-action@v1.1.0
        with:
          resource: ${{ env.GRAFANA_URL }}
          interval: 2000 # 2s
          timeout: 30000 # 30s
      - run: make testacc-cloud-instance
  
  local:
    strategy:
      fail-fast: false # Let all versions run, even if one fails
      matrix:
        # OSS tests, run on all versions
        version: ['10.3.1', '10.2.3', '9.5.15', '8.5.27']
        type: ['oss']
        subset: ['basic', 'other', 'long']
        include:
          - version: '10.3.1'
            type: 'oss'
            subset: examples
          # TLS proxy tests, run only on latest version
          - version: '10.3.1'
            type: 'tls'
            subset: 'basic'
          # Sub-path tests. Runs tests on localhost:3000/grafana/
          - version: '10.3.1'
            type: 'subpath'
            subset: 'basic'
          - version: '10.3.1'
            type: 'subpath'
            subset: 'other'
          # Enterprise tests, run only on latest version
          - version: '10.3.1'
            type: 'enterprise'
            subset: 'all'
    name: ${{ matrix.version }} - ${{ matrix.type }} - ${{ matrix.subset }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with: 
          go-version: '1.21'
      - uses: hashicorp/setup-terraform@v3
      - name: Get Enterprise License
        uses: grafana/shared-workflows/actions/get-vault-secrets@main
        if: matrix.type == 'enterprise'
        with:
          repo_secrets: |
            GF_ENTERPRISE_LICENSE_TEXT=enterprise:license
      - name: Cache Docker image
        uses: ScribeMD/docker-cache@0.3.7
        with:
          key: docker-${{ runner.os }}-${{ matrix.type == 'enterprise' && 'enterprise' || 'oss' }}-${{ matrix.version }}
      - run: make testacc-${{ matrix.type }}-docker
        env:
          GRAFANA_VERSION: ${{ matrix.version }}
          TESTARGS: >- 
            ${{ matrix.subset == 'all' && '-parallel 2' || '' }}
            ${{ matrix.subset == 'basic' && '-run=".*_basic" -short -parallel 2' || '' }}
            ${{ matrix.subset == 'other' && '-skip=".*_basic" -short -parallel 2' || '' }}
            ${{ matrix.subset == 'long' && '-run=".*longtest" -parallel 1' || '' }}
            ${{ matrix.subset == 'examples' && '-run=".*Examples" -parallel 1' || '' }}
