name: cloud acceptance tests
on:
  workflow_dispatch:
    inputs:
      tests:
        description: 'Tests to run (regex passed to -run)'
        default: '.*'
  workflow_call:
    inputs:
      tests:
        type: string
        description: 'Tests to run (regex passed to -run)'
        default: '.*'
    

# These permissions are needed to assume roles from Github's OIDC.
permissions:
  contents: read
  id-token: write

jobs:
  cloud:
    concurrency: cloud-api
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with: 
          go-version-file: go.mod
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - name: Get Secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@main
        with:
          repo_secrets: |
            GRAFANA_CLOUD_ACCESS_POLICY_TOKEN=cloud-tests:api-key
            GRAFANA_CLOUD_ORG=cloud-tests:org
      - run: make testacc-cloud-api
        env:
          TESTARGS: -run='${{ github.event.inputs.tests }}'


