name: cloud acceptance tests
on:
  workflow_dispatch:
    inputs:
      tests:
        description: 'Tests to run (regex passed to -run)'
        default: '.*'
  workflow_call:
    inputs:
      tests:
        type: string
        description: 'Tests to run (regex passed to -run)'
        default: '.*'
    

# These permissions are needed to assume roles from Github's OIDC.
permissions:
  contents: read
  id-token: write

jobs:
  cloud:
    concurrency: cloud-api
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with: 
          go-version-file: go.mod
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - name: Get Secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@43126101c2b92c3a54f8e396ea628dc7a31965c6
        with:
          repo_secrets: |
            GRAFANA_CLOUD_ACCESS_POLICY_TOKEN=cloud-tests:api-key
            GRAFANA_CLOUD_ORG=cloud-tests:org
      - run: make testacc-cloud-api
        env:
          TESTARGS: -run='${{ github.event.inputs.tests }}'


