name: pr comment

on:
  pull_request:

jobs:
  info-comment:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
        with:
          message: |
            In order to lower resource usage and have a faster runtime, PRs will not run Cloud tests automatically.
            To do so, a Grafana Labs employee must trigger the `cloud acceptance tests` workflow manually.
