name: tests
on:
  pull_request: {}
  push:
    branches:
      - main
      - master
    
jobs:
  lint: 
    name: golangci-lint
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with: 
          go-version: '1.20'
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52

  terraform_fmt:
    name: terraform fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false
      - name: terraform fmt
        run: terraform fmt -recursive -check || (echo "Terraform files aren't formatted. Run 'terraform fmt -recursive && go generate'"; exit 1;)
  
  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with: 
          go-version: '1.20'
      - name: generate docs
        run: |
          go generate
          gitstatus="$(git status --porcelain)"
          if [ -n "$gitstatus" ]; then
            echo "$gitstatus"
            echo 'docs are out of sync, run "go generate"'
            exit 1
          fi
      - run: make linkcheck

  unit:
    name: unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with: 
          go-version: '1.20'
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false
      - run: go test ./...
