name: unit tests
on:
  pull_request: {}
  push:
    branches:
      - main
    
jobs:
  lint: 
    name: golangci-lint
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - run: make golangci-lint # Using the makefile to have the same command in CI and locally

  terraform_fmt:
    name: terraform fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - name: terraform fmt
        run: terraform fmt -recursive -check || (echo "Terraform files aren't formatted. Run 'terraform fmt -recursive && go generate ./...'"; exit 1;)
  
  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with: 
          go-version-file: go.mod
      - name: generate docs
        run: |
          go generate ./...
          gitstatus="$(git status --porcelain)"
          if [ -n "$gitstatus" ]; then
            echo "$gitstatus"
            echo 'docs are out of sync, run "go generate ./..."'
            exit 1
          fi
      - run: make linkcheck

  unit:
    name: unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with: 
          go-version-file: go.mod
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - run: go test ./...
