name: unit tests
on:
  pull_request: {}
  push:
    branches:
      - main
    
permissions:
  contents: read
  pull-requests: read

jobs:
  lint: 
    name: golangci-lint
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - run: make golangci-lint # Using the makefile to have the same command in CI and locally

  terraform_fmt:
    name: terraform fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - name: terraform fmt
        run: terraform fmt -recursive -check || (echo "Terraform files aren't formatted. Run 'terraform fmt -recursive && go generate ./...'"; exit 1;)
  
  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with: 
          go-version-file: go.mod
      - name: generate docs
        run: |
          go generate ./...
          gitstatus="$(git status --porcelain)"
          if [ -n "$gitstatus" ]; then
            echo "$gitstatus"
            echo 'docs are out of sync, run "go generate ./..."'
            exit 1
          fi
      - run: make linkcheck

  unit:
    name: unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with: 
          go-version-file: go.mod
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - run: go test ./...
